<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DesarrollosPyC.Com.Facturacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="Sat.Cfdi.Negocio.ConsultaCfdi.Servicio.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DesarrollosPyC.Com.Facturacion.Properties.Settings>
      <setting name="DesarrollosPyC_Com_Facturacion_pruebas_facturehoy_com_WsEmisionTimbrado33"
          serializeAs="String">
        <value>http://pruebasclientes.facturehoy.com:8080/CFDI33/WsEmisionTimbrado33</value>
      </setting>
      <setting name="DesarrollosPyC_Com_Facturacion_mx_com_sefactura_pruebas_TimbradoServiceService"
          serializeAs="String">
        <value>http://pruebas.sefactura.com.mx:3014/sefacturapac/TimbradoService</value>
      </setting>
      <setting name="DesarrollosPyC_Com_Facturacion_mx_com_sefactura_www_TimbradoServiceService"
          serializeAs="String">
        <value>https://www.sefactura.com.mx:443/sefacturapac/TimbradoService</value>
      </setting>
      <setting name="DesarrollosPyC_Com_Facturacion_com_facturehoy_wsprod3_WsEmisionTimbrado33"
          serializeAs="String">
        <value>http://wsprod3.facturehoy.com:80/CFDI33/WsEmisionTimbrado33</value>
      </setting>
    </DesarrollosPyC.Com.Facturacion.Properties.Settings>
  </applicationSettings>
</configuration>